scikit-learn
opencv-python
nibabel
plotly
chart_studio
jupyter-dash
ipywidgets>=7.6
lightgbm
xgboost
graphviz
catboost
category_encoders
hyperopt
hpsklearn
jupyterlab
optuna
japanize-matplotlib #フォント日本語で使いたい
seaborn #綺麗なグラフを書きたい
lingam # lingam使いたい
pgmpy #ベイジアンネットワークなど複数のアルゴリズムで因果分析が可能なライブラリ
pyvis #ネットワークグラフをインタラクティブなHtmlに出力するためのライブラリ
networkx #グラフとネットワークを研究するためのライブラリ
pyarrow
bayesian-optimization
GPy
gpyopt
numba